.i-field-t {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  height: 60px;
}

.title-field {
  width: 100%;
  height: 30px;
  text-align: left;
}

.i-field-c {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.code-field {
  width: 100%;
  height: 100%;
  text-align: left;
}

.key-place,
.code-place {
  color: gray;
}

#save-create {
  width: 80%;
  height: 40px;
}