* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

.parent {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 70%;
  width: 70%;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0.5rem 0.5rem 1rem gray;
  overflow-y: auto;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 80%;
}

.txt-div {
  width: 80%;
  color: gray;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  background: gray;
  cursor: pointer;
}

.title {
  font-family: "Orbitron";
  font-size: 1.8rem;
  color: rgb(63, 63, 63);
}

.saver {
  width: 90%;
}

.snippets {
  display: grid;
  gap: 0.5rem;
}

.snippet-item {
  background: gainsboro;
  list-style: none;
  padding: 0.5rem 1rem;
  margin-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.btn-del {
  width: 100px;
  height: 30px;
  border-radius: 12px;
  border: none;
  color: black;
  background: rgba(140, 140, 140, 0.363);
}
